* {
  margin: 0;
  padding: 0; }

html, body { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif; }

i {
  font-style: normal;
  font-size: 1.2em;
  cursor: pointer; }

.wrapper {
  width: 800px;
  margin:auto;
  padding: 32px 32px 16px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 0px 100px rgba(0,0,0,0.3); }

.ui {
  display: flex;
  justify-content: space-between; }

.title { text-transform: uppercase; }

.right { text-align: right; }

#score, #instructions {
  font-weight: 700;
  font-size: 1.5em; }
